*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
   
}

body{
    background-color: #000;
   color: white;

}
.container{
    width: 100%;
    height: 100%;
}
.video-background {
    position: relative; /* Ensures the video is scoped to this section */
  
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Full viewport height for the section */
    overflow: hidden; 
    z-index: -1; /* Places the video behind the content */
    transform-origin: bottom;
   
  }
  
  video {
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    filter: blur(10px); /* Apply blur to the video */
    transform: scale(1.1); /* Slightly scale the video to avoid edges showing */
  }
  .signup-container{
    position: absolute;
     top: 20%;
     left: 40%;
    width: max-content;
    padding: 20px 30px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background:black;
 box-shadow: 0 0 10px rgba(117, 117, 117, 0.5);
/* border: 1px solid #ccc; */
border-radius: 15px;
  }
  .signup-container h1{
    font-family: 'syne', sans-serif;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .signup-container h1 span{
    color: red;
  }
  .password-container {
    position: relative;
    width: 300px;
}
.signup-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

}
.signup-container form .username{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size:16px ;
    color: white;
   
}
.username input{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    background-color: #000000b3;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size:16px ;
    border: 1px solid #ccc;
}
.signup-container form .Email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size:16px ;
    color: white;
}
.Email input{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    background-color: #000000b3;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size:16px ;
    border: 1px solid #ccc;
}
.signup-container form .password{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size:16px ;
    color: white;
}
.password-container {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    background-color: #000000b3;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size:16px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
   
}
.password-container input {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size:16px ;
    outline: none;
    border: none;
    background: transparent;
   color: #979797;
}
.confirm-password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size:16px ;
    color: white;
}

.password-container .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #979797;
    font-size: 18px;
}
.signup-container form button{
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background: rgb(105, 105, 246);
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    text-align: center;
}
.signup-container form button:hover{
    background-color: rgb(85, 85, 246);
      transition: background-color 0.3s ease;
}
